@import "tailwindcss";

@theme {
  --color-hotpink: hotpink;
}

@layer base {
  h1 {
    font-size: var(--text-3xl);
    font-family: "Metal Mania";
    text-shadow: 1px 1px black;
  }
  h2 {
    font-size: var(--text-2xl);
    font-family: "Metal Mania";
    text-shadow: 1px 1px black;
  }
}

.header-font {
  font-family: "Metal Mania";
}

body {
  font-family: "Lacquer";
  @apply bg-black;
}

body::before {
  background: black url("/img/app-bgr.jpg") no-repeat center center;
  content: "";
  @apply pointer-events-none fixed inset-0 -z-10 h-full w-full opacity-40;
}

.button {
  font-family: "Metal Mania";
  background: #29103c url("/img/bgr-purple.jpg") no-repeat 0 0;
  @apply block cursor-pointer rounded-xl border-3 border-[#29103c] bg-cover px-6 py-3 text-2xl hover:border-white/50 active:translate-y-0.5 disabled:cursor-not-allowed;
}

.box {
  @apply max-w-[400px] rounded-3xl border-8 border-black/10 bg-black p-8;
}
