@import "tailwindcss";

body {
  font-family: "Metal Mania";
  @apply bg-black bg-cover;
}

body::before {
  background: black url("img/app-bgr.jpg") no-repeat 0 0;
  @apply pointer-events-none fixed inset-0 -z-10 h-full w-full opacity-50;
}

h1 {
  @apply text-2xl;
}

.button {
  @apply cursor-pointer rounded-xl border-3 border-black/30 bg-[#7232ab] bg-cover px-6 py-3 text-2xl hover:border-white/50;
}

button:disabled {
  @apply cursor-not-allowed;
}

.box {
  @apply rounded-3xl border-8 border-black/10 bg-black/60 p-8;
}
